# Ignore Python cache
__pycache__/
*.pyc

*_gitignore.*
convertJSONtoMYSQL.py
mergeDB2andMAINDB.py
nice_queries/

mapsinit.js

# Ignore environment files
.env
.vscode

# Ignore logs and temp files
*.log
*.tmp

# Ignore virtual environments
venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db
desktop.ini
/flasksite/static/script/mapsinit.js