[Unit]
Description=Python Weather Data Collection (DB Feeder)
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/user/weatherdata
ExecStart=/home/user/weatherdata/.venv/bin/python /home/user/weatherdata/main.py
Restart=always
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target